<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IConductores" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:5139/Conductores.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IConductores" contract="ConductoresWS.IConductores"
                name="BasicHttpBinding_IConductores" />
        </client>
    </system.serviceModel>
</configuration>