<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBuses" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:58994/Buses.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IBuses" contract="BusesWS.IBuses"
                name="BasicHttpBinding_IBuses" />
        </client>
    </system.serviceModel>
</configuration>